<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Multi Timer</a>
    </div>
  </div>
</div>
<div class="content">
  <div class="timer-list">
    <div class="timer" ng-repeat="timer in timers">
      <span timer-direction="timer"></span>
      <span class="timer-duration">{{ timer.duration | displayTime }}</span>
      <span ng-timer-state></span>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="btnbar-bottom">
  <div class="btn-group btn-group-justified">
    <a class="btn btn-danger btn-lg">Cancel</a>
    <a class="btn btn-success btn-lg">Save</a>
  </div>
</div>