.btnbar-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #eee;
  border-top: 1px solid #ccc;
}

.content {
  padding-top: 64px;
}

.timer-list {
}

.timer {
  padding: 10px;
}

.timer:nth-child(2n+1) {
  background-color: #f9f9f9;
}

.timer span[timer-direction] {
  color: #666;
}