<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Multi Timer Config</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.1.1-1/css/cosmo/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="multi-timer.css" rel="stylesheet">
  </head>
  <body ng-app="MultiTimer">
    <div class="container-fluid" ng-controller="TimersController" ng-cloak>
      <div class="row header">
        <div class="col-xs-12">
          <a class="pull-right" href="#" ng-click="close()"><i class="fa fa-check fa-lg"></i></a>
          <h1 class="text-center">Multi Timer</h1>
        </div>
      </div>
      <div class="row" ng-hide="timerEdit == null">
        <div class="col-xs-9">
         <input type="text" class="form-control input-block" id="timer-label" placeholder="Timer Label" ng-model="editLabel" maxlength=24>
        </div>
        <div class="col-xs-3">
          <a href="#" class="btn btn-success btn-block" ng-click="saveEdit()"><i class="fa fa-save"></i></a>
        </div>
      </div>
      <hr ng-hide="timerEdit == null">
      <div class="row" ng-hide="everything.state == 'loaded'">
        <div class="col-lg-12">
          <h3 class="text-center text-muted">Loading Timers&hellip;</h3>
        </div>
      </div>
      <div class="row" ng-show="everything.state == 'loaded'">
        <div class="col-lg-12">
          <div>
            <div class="row timer-row" ng-class="{ 'in-edit': timer == timerEdit }" ng-repeat="timer in timers" ng-click="editTimer(timer)">
              <div class="col-xs-2"><i class="fa" ng-class="{'fa-arrow-up' : timer.direction == 'up', 'fa-arrow-down' : timer.direction == 'down' }"></i></div>
              <div class="col-xs-3">
                <span ng-if="timer.direction == 'down'">{{ timer.length | duration }}</span>
              </div>
              <div class="col-xs-7" ng-class="{ 'label-blank' : timer.label.length === 0 }">{{ timer.label | ifEmpty: 'No Label' }}</div>
            </div>
          </div>
          <div class="row" ng-if="timers">
            <div class="col-xs-12">
              <h3 class="text-center text-muted">No Timers <i class="fa fa-warning"></i></h3>
            </div>
        </div>
      </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdn.firebase.com/js/client/1.0.15/firebase.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="//cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.0/spin.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-spinner/0.4.0/angular-spinner.min.js"></script>
    <script>
      var app = angular.module("MultiTimer", ["firebase", 'angularSpinner']);

      app.filter('ifEmpty', function () {
        return function (item, replacement) {
          return item.length === 0 ? replacement : item;
        };
      });

      app.filter('duration', function () {
        return function (item) {
          var hours = Math.floor(item / 3600);
          var minutes = Math.floor((item - (hours * 3600)) / 60);
          var seconds = item - (hours * 3600) - (minutes * 60);
          if (hours < 10) {
            hours = "0" + hours;
          }
          if (minutes < 10) {
            minutes = "0" + minutes;
          }
          if (seconds < 10) {
            seconds = "0" + seconds;
          }
          if (hours === '00') {
            return [ minutes, seconds ].join(':');
          }
          return [ hours, minutes, seconds ].join(':');
        };
      });

      function TimersController($scope, $firebase, $location) {

        $scope.timerEdit = null;
        $scope.pebbleToken = $location.search().token;
        $scope.editLabel = '';

        var rootRef = new Firebase('https://smallstoneapps.firebaseio.com/multi-timer/' + $scope.pebbleToken);
        $scope.timers = $firebase(rootRef.child('timers'));

        $scope.everything = $firebase(rootRef);

        $scope.editTimer = function (timer) {
          $scope.editLabel = timer.label;
          $scope.timerEdit = timer;
        }

        $scope.saveTimers = function () {
          $scope.timers.$save();
          window.location.href = 'pebblejs://close#success';
        }

        $scope.saveEdit = function () {
          $scope.timerEdit.label = $scope.editLabel;
          $scope.timers.$save();
          $scope.timerEdit = null;
        }

        $scope.close = function () {
          window.location.href = 'pebblejs://close';
        }

      }

    </script>
  </body>
</html>