[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.header {
  background-color: #333;
  color: #eee;
  margin-bottom: 20px;
}

h1 {
  padding: 20px;
  margin: -5px -15px 0;
  font-size: 25px;
}

.header a {
  color: #eee;
  font-size: 20px;
  padding: 15px 10px 15px 0;
}

.timer-row {
  font-size: 1.3em;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.btn-lg {
  /*font-size: 2em;*/
}

.input-lg {
  /*width: 100%;*/
}

.label-blank {
  font-style: italic;
  color: #999;
}

.in-edit {
  background-color: #ddd;
}